@import "./variables.scss";
@import "./header.module.scss";
@import "./sectionHome.module.scss";
@import "./techStack.module.scss";
@import "./project.module.scss";
@import "./smartHome.module.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 2000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.section {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  border-radius: 22px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.home {
  margin-bottom: 60px;
}
