.profile {
  // align-items: center;
  padding: 40px 20px;

  &-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    text-align: left;
    padding-right: 20px;
    margin-bottom: 20px;
    // margin: 40px;

    &__heating {
      margin: 20px auto;
      font-size: 60px;
    }

    &__body {
      font-size: 20px;
      line-height: 30px;
    }

    &__social {
      display: flex;

      &-svg {
        border-radius: 100%;
        transition: transform 0.3s ease;
      }

      &-svg:hover {
        transform: scale(1.05);
      }
    }
  }

  &-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 300px;

    &__img {
      max-width: 100%;
      height: auto;
    }
  }
}
