.techStack {
  //   justify-content: space-evenly;
  padding: 0 20px;
  margin-bottom: 40px;

  &-text {
    font-size: 20px;
    border-right: 1px solid black;
    padding: 0 20px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 20px;
  }
}
